@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The purpose of this project is to demostrate a simple database driven application managing biopsy information and patients in the database</p>
