@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    545 Raven Ave, Apt 2127<br />
    Gaithersburg, MD 20877<br />
    <abbr title="Phone">P:</abbr>
    (571)278-1637
</address>

<address>
    <strong>Email:</strong> <a href="mailto:yuanl8411@gmail.com">yuanl8411@gmail.com</a><br />
</address>
