<?xml version="1.0" encoding="utf-8"?>
<configuration>

<entityFramework>
  <contexts>
    <context type="JHUProject.Daos.JHUContext, JHUProject">
      <databaseInitializer type="JHUProject.Daos.JHUDaosInitializer, JHUProject" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>
<connectionStrings>
  <add name="JHUContext"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=DESKTOP-78OHANQ;Initial Catalog=JHUProject_1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>
</configuration>